<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>

    <div class="jumbotron">

        <h3>welcome</h3>
    <h1>상품 저장소</h1>

    <div class="text-center mb-4">
        <img src="/image/saitama2.jpg" alt="쇼핑몰 이미지" class="img-fluid rounded" style="max-height: 300px; width: 100%; object-fit: cover;">
    </div>


            <a class="btn btn-lg btn-secondary" href="/members/new">회원 가입</a>
            <a class="btn btn-lg btn-secondary" href="/login" style="width: 130px;"> 로 그 인 </a></p>

    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div> <!-- /container -->
</body>
</html>